*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
}

header {
    display:flex;
    justify-content:space-between;
    margin:10px;
}

.LogoImgContainer img{
    width:200px;
}

nav {
    display:flex;
    align-items:flex-end;
}

nav ul {
    display:flex;
    flex-direction:row;
}

nav ul li {
    padding:10px;
    list-style: none;
}

nav ul li a {
    text-decoration:none;
    color:black;
    font-weight:700;
    font-size: larger;
}

div.HeaderImgContainer {
    width:100vw;
    height:380px;
    display:flex;
    
}

div.HeaderImgContainer img {
    object-fit:cover;
    width:100vw;
    object-position: 0px -110px;


}