*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
}

header {
    display:flex;
    justify-content:space-between;
    margin:10px;
}

.LogoImgContainer img{
    width:200px;
}

nav {
    display:flex;
    align-items:flex-end;
}

nav ul {
    display:flex;
    flex-direction:row;
}

nav ul li {
    padding:10px;
    list-style: none;
}

nav ul li a {
    text-decoration:none;
    color:black;
    font-weight:700;
    font-size: larger;
}

div.HeaderImgContainer {
    width:100vw;
    height:380px;
    display:flex;
    
}

div.HeaderImgContainer img {
    object-fit:cover;
    width:100vw;
    object-position: 0px -110px;

}

div.HeartsAndCirclesBackgroundContainer {
    width:100vw;
}

div.HeartsAndCirclesBackgroundContainer img {
    width:100vw;
    object-fit:cover;
    object-position: 0px -19px;
}

div.WhiteBox {
    background-color:white;
    width:100vw;
    height: 350px;
    z-index:2;
    margin-top: -462px;
    position: relative;
    padding: 52px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

div.YellowRectangleContainer img {
    position:relative;
    z-index:3;
    width: 744px;
    height: 277px;
}

div.YellowRectangleContainer {
    z-index: -1;
    position: relative;
}

div.YellowSquareContainer {
    top: -245px;
    position: relative;
    z-index: -1;
    justify-content: flex-end;
    display: flex;
}
div.YellowSquareContainer img {
    position:relative;
    z-index:3;
    width: 333px;
    height: 311px;
}

p.WhoWeAre {
    margin-top:-200px;
}

span.thick {
    display:inline-block;
    font-weight:bold;
}

